.navigation__option-list {
    list-style-type: none;
}

.option-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: -16px;
}

.option-list__item-icon {
    width: 56px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-list__item > a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #7C7C7A;
}