@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.navigation__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.user__icon {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(74, 73, 203, 1);
    border-radius: 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222133;
}

.user__mail {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7C7C7A;
}