body,
h1,
h2 {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.navigation {
    position: relative;
    width: 90px;
    min-height: 100vh;
    border-right: 1px solid #7C7C7A;
    padding-top: 10px;
    overflow: hidden;
}

.option-list__item>a {
    display: none;
    left: 200px;
}

.navigation__footer .option-list__item:last-child {
    position: absolute;
    left: 40px;
}

.navigation__user {
    margin-left: 9px
}
.user__info {
    display: none;
}

.navigation__input-search > input {
    display: none;
}

.input-search__icon {
    margin-left: 9px;
    border-radius: 8px;
}

.navigation:hover {
    width: 250px;
}

.navigation:hover .navigation__user {
    margin-left: 0;
}

.navigation:hover .user__info {
    display: block;
    border-radius: 8px;
} 

.navigation:hover .navigation__input-search > input {
    display: block;
} 

.navigation:hover .input-search__icon {
    border-radius: 8px 0 0 8px;
    margin-left: 0px;
}

.navigation:hover .option-list__item>a {
    display: block;
}

.navigation:hover .navigation__footer .option-list__item:last-child {
    position: static;
}

