.navigation__input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.input-search__icon {
    width: 56px;
    height: 50px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.navigation__input-search > img {
    width: 100%;
}

.navigation__input-search > input {
    display: block;
    border: none;
    height: 50px;
    width: 144px;
    background: #F5F5F5;
    border-radius: 0 8px 8px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #7C7C7A;
}