.navigation__footer {
    margin-top: 70px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    left: 15px;
    top: 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('../../img/sun-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: rgba(66, 68, 68, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(66, 68, 68, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: white url('../../img/night-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(66, 68, 68, 1);
    border: 1px solid black;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}